* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Baloo chettan 2', cursive ;
}
#wrapper {
    background: url('../dropdown-web/img/Background-xam-ban-lam-viec.jpg');
    position: relative;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}
li {
    list-style-type: none;
}
header {
    background-color: #000;
}
 /* độ rộng của menu */
.container {
    margin: 0 auto;
    max-width: 960px;
}
/* xử lí thanh nav điều hướng */
nav {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.main-menu {
    display: flex;
}
.main-menu li {
    padding: 20px 20px;
}
.container .logo {
    cursor: pointer;
    padding: 20px 20px;
}
/* xử lí thanh đổ  list  */
.main-menu li {
    position: relative;
}
.main-menu li .sub-menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: #000;
    width: 200px;
    display: none;
}
.main-menu li:hover > .sub-menu {
    display: block;
}

.main-menu li .sub-menu li{
    border: 1px solid #333;
    position: relative;
}
.main-menu li .sub-menu ul {
   position: absolute;
   left: 198px;
   top: 0px;
}
/* thiết lập border khi hover */
.main-menu>li {
    position: relative;
}
.main-menu>li>a::before {
    position: absolute;
    content: "";
    background: #f00;
    width: 0px;
    height: 4px;
    bottom: 0;
    transition: 0.25s;
    left: 0;
}
.main-menu>li:hover>a::before {
    width: 100%;
}
.title {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h1 {
    color: white;
    font-size: 50px;
    cursor: pointer;
    
}
